{% load static %} <!--Importante carregar a pasta static para o uso do css-->

{% block content %}{% endblock content %}

<link rel="stylesheet" href="{% static 'learning_logs/base.css' %}"> <!--Maneira correta de importa o link css-->

<footer>
    <a class="link_footer" href="{% url 'index' %}">Voltar para página inicial</a>
    <a class="link_footer" href="{% url 'teste' %}">Ir para a página teste</a>
    <a class="link_footer" href="{% url 'topics' %}">Ir para a página de tópicos</a>
</footer>

