{% extends "learning_logs/base.html" %}

{% block content %} 

    <h3>Tópico {{ topic }}</h3>

    <p>Entradas :
        <ul>
            {% for entry in entries %}
                <li>
                    <p>{{ entry.date_added | date:'M d, Y H:i'}}</p>
                    <p>{{ entry.text | linebreaks }}</p>
                </li>
            {% empty %}

            <li>
                Não há registros
            </li>


            {% endfor %}
        </ul>
    </p>

{% endblock content%}