footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    gap: 20px;

    background: lightgray; /* opcional */
    padding: 15px;
}

.link_footer {
    color: black;
    text-decoration: none;
    padding: 15px;
}

.link_footer:hover {
    text-decoration: underline;
}